@import '../../elements/color.css';

.checkbox-container {
  display: inline-block;
}

.checkbox-container label {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.checkbox-container input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid var(--color-border);
  cursor: pointer;
  border-radius: 6px;
  position: relative;
  transition:
    background-color 0.2s ease-in-out,
    border 0.1s ease-in-out,
    transform 0.1s ease-in-out,
    border-radius 0.2s ease-in-out;
}

.checkbox-container input[type="checkbox"]:checked {
  background-color: var(--color-blue);
  border: none;
}

.checkbox-container input[type="checkbox"]:active {
  transform: scale(0.96);
  border-color: var(--color-border-active);
}

.checkbox-container input[type="checkbox"]:hover {
  border-color: var(--color-border-hover);
}

.checkbox-input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.mgc_check_fill {
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  font-size: 8px;
  color: #fff;
  z-index: 2;
  transition:
    font-size 0.2s ease-in-out,
    opacity 0.3s ease-in-out,
    visibility 50ms ease-in-out;
}

.checkbox-container input[type="checkbox"]:checked + .mgc_check_fill {
  opacity: 1;
  visibility: visible;
  font-size: 12px;
}